.header_accueil,
.carouselred,
.section_icones {
    background-color: #b11e2f;
    padding: 0px;
}
.section_bienvenue {
    padding-top: 85px;
}
hr {
            width: 50px;
            height: 3px;
            background-color: black;
        }
.logo {

    padding: 0px;
    margin-bottom: 30px;

}

.header_accueil {
    height: 724px;
}

#carouselExampleControls {
    height: 482px;
}

.titre_bienvenue
    {
    color: #b11e2f;
    font-family: "ralewayExtraBold";
    margin-top: 88px;
}

.sous_titre_bienvenue,
.card-title,
.sous-titre-card {
    color: #b11e2f;
    font-family: "ralewayExtraBold";

}

.bonne_visite {
    padding-top: 56px;
    padding-bottom: 80px;
}

.titre_article_carousel,
.sous-titre_art_car,
.paragraph_carr {
    font-family: "ralewayExtraBold";
    color: #FFF;
}

.titre_article_carousel {
    padding-top: 114px;
}

.paragraph_carr {
    font-family: "lato";
}

.caroussel_articles {
    padding-top: 88px;
    padding-bottom: 84px;
}


#icone {
    border-radius: 50%;

}

.icones {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text_icone {
    color: #FFF;
    font-family: "ralewayExtraBold";

}

h4 {
    padding-top: 46px;
}
.section_articles {
    .card {
        border: none;
    }
}
.section_carouselEquipe{
    background-color: #FFF;
}