.collectif {
    padding-top: 75px;
    .container {
        h2 {
            @include fonts(ralewayExtraBold, normal, 32px);
            color: #b11e2f;
        }
        .sous-titre {
            @include fonts(ralewayMedium, normal, 20px);
            color: #b11e2f;
        }
        .discover {
            @include fonts(lato, normal, 20px);
        }
        hr {
            margin-top: 70px;
            background-color: black;
        }
    }
}