.blog {
        h4{
          font-family: 'ralewayExtraBold';
          font-size: 36px;
        }
        i{
          padding-right: 35px;
          padding-left: 35px;
        }
        h5{
          font-size: 27px;
          font-family: 'ralewayExtraBold';
          padding-top: 20px;
        }
        .red{
          color:  #b11e2f;
        }
        .art{
          padding-left:5px;
          padding-right: 5px;
        }

        .l{
          font-family: 'lato';
          font-size: 18px;
        }

        .stb {
          font-family: 'ralewayMedium';
          font-size: 18px;
        }

        .middle{
          padding-top: 80px;
          padding-bottom: 80px;
        }

        .nb {
          margin-left: 5px;
          margin-right: 5px;
        }

        .nbg{
          margin-right: 5px;
        }
         hr {
            width: 50px;
            height: 3px;
            background-color: black;
        }
        .nbd{
          margin-left: 5px;
        }
        .p{
          font-family: 'lato';
          font-size: 24px;
        }
        .blk{
          color: #000;
        }

        .cq{
          padding-top: 50px;
          padding-bottom: 50px;
        }

        .padb{
          padding-top: 100px;
        }
}