header {
    nav {
      background-color: #b11e2f;
    }

    ul{
      font-family: 'ralewayExtraBold';
      font-size: 30px;
      margin-top: 150px;
      color: #FFF;
    }

    .navbar-light .navbar-nav .nav-link {
      color: #FFF;
    }

    .navbar-brand{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    li{
      padding-left: 30px;
    }
}