@font-face {
    font-family: 'ralewayExtraBold';
    src: url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: 'ralewayMedium';
    src: url('../fonts/Raleway-Medium.ttf');
}

/* Header */
nav {
  background-color: #b11e2f;

}

ul{
  font-family: 'ralewayExtraBold';
  font-size: 36px;
  color: #FFF;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFF;
}

.navbar-brand{
  margin-top: 30px;
  margin-bottom: 30px;
}

li{
  padding-left: 30px;
}

ul{
  margin-top: 150px;
}


/* Footer */

footer{
  background-color: #b11e2f;
  color: #fff;
  padding-top: 30px;
}

i{
  padding-right: 35px;
  padding-left: 35px;
}
.fa{
  font-size: 36px;
}
.copy {

  font-family: 'ralewayMedium';
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
